# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/
env/

# PyTorch model checkpoints
*.pth

# Videos
*.mp4
!docs/*.mp4
*.avi

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
